*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
     
      
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
    font-weight: 400;
  
}
a:hover{
    font-weight: bold;
}
p{
    color: #555;
    font-weight: 500;
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{ 
    flex-basis: 50%;
    min-width: 300px;
   
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

   
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    opacity: 0;
    animation: animate 1s ease-in-out 0.5s 1 forwards;
    
}
.col-2 p{
    opacity: 0;
    animation: animate 1s ease-in-out 0.5s 1 forwards;
    
}
.btn{
    display: inline-block;
    background: gray;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    animation: animate 1s ease-in-out 0.5s 1 forwards;
    
}
.btn:hover{
    background: rgb(61, 61, 61);
    transform: translate(10px);
   
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0,);
        filter: blur(0);
    }
}
.header{
    background: radial-gradient(#fff, #a8c4c4);
}
.header .row{
    margin-top: 120px;
}
/*-- featured categories--*/
.categories{
    margin-top: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px ;
}
.col-3 img{
    width: 100%;
    transition: transfrom 0.7s;
   
}
.col-3 img:hover{
    transform: translateX(5px);
}
@keyframes appear{
        from{
            opacity: 0;
            scale: 0.5;
            transform: translateX(-50px);
        }
        to{
            opacity: 1;
            scale: 1;
            transform: translateX(0);
        }
    }
     .col-2, .col-3, .col-4, .col-5{
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
.small-container{
    min-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   
    
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 30px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}
.title::after{
    content: '';
    background: navy;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
    font-weight: bold;
}
.rating .fa{
    color: navy;
}
.col-4:hover{
    transform: translateY(-5px   );
}
/*-- offer-- */
.offer{
    background: radial-gradient(#fff, #a8c4c4);
    margin-top: 80px;
    padding: 30px 0;
   
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 0.5s 1 forwards;
}

/* --testimonial--*/
.testimonial{
    padding-top: 100px;
    height: 50%; 

}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    background: #fff;
}

.testimonial .col-3 img{
    width: 50px;
    height: 60px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
    background-color: antiquewhite;
}
.fa.fa-quote-left{
    font-size: 40px;
    color: navy;
}
.col-3 p{
    font-size: 15px;
    margin: 12px 0;
    font-weight: bold;
    color: #000;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 15px;
}

/* brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    height: 80px;
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* footet */
.footer{
    background: #2c2b2b;
    color: #fff;
    font-size: 14px;
    padding: 20px 0 10px;
}
.footer p{
    color: #fff;
}
.footer h3{
    color: #8a8a8a;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 100px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 170px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
    
}
.app-logo1{
    margin-top: -5%;
   margin-left: -200%;
   
}
.app-logo1 img{
    width: 95px;
    margin-bottom:0;
    
}
.app-logo2{
    margin-top: -15%;
   margin-left: -160%;
   
}
.app-logo2 img{
    width: 100px;
    margin-bottom: 0;
    
}
.footer hr{
    border: none;
    background-color: #fff;
    height: 3px;
   
   
}
span{
    text-transform: uppercase;
    font-weight: bold;
}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* -- media query for menu*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        background: #333;
        width: 100% ;
        left: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

}

/* -- media query for less than 600 screen size*/
 
@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}